.form{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 2rem;
    border-radius: 3%;
    text-align: center;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}