.task {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
  border-radius: 7%;
  text-align: center;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  background-color: #f7f9f2;
}
.task p {
  font-weight: 500;
}
.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
  font-size: 14px;
}
.date div {
  display: flex;
}
.date p {
  text-align: center;
  width: auto;
}
.done {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.327);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 3px;
}

button {
  background-color: #6a9ab0; /* Soft blue for the button */
  color: white; /* White text for contrast */
  border: none;
  border-radius: 8px; /* Rounded corners */
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Hover effect */
button:hover {
  background-color: #5f899d; /* Darker blue on hover */
  transform: translateY(-2px); /* Lift effect */
}

/* Focused state */
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.4); /* Soft focus ring */
}

.checkbox {
  appearance: none; /* Remove default checkbox styling */
  width: 20px;
  height: 20px;
  border: 0.1px solid rgb(104, 104, 104);
  border-radius: 50%; /* Make it a perfect circle */
  cursor: pointer;
  display: inline-block;
  position: relative;
}
